.side-menu {
  background: linear-gradient(180deg, rgba(18, 20, 43, 0.00) 0%, #12142B 100%);
  box-shadow: 0 0 20px 0 rgba(33, 108, 149, 0.30) inset;
  .item {
    color: #8897AB;
    background: #111B2A;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 4px;
    border: 1px solid #111B2A;
    cursor: pointer;
    &.is-active {
      color: #0BF9FE;
      border-color: #0BF9FE;
    }
  }
}