.panorama-div {
  position: relative;
  &:hover {
    .collapse-left, .collapse-right {
      opacity: 1 !important;
    }
  }
  .left-div, .right-div {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    z-index: 2;
    transition: width 0.5s cubic-bezier(0.23, 0.9, 0.35, 1), border 0.3s;
    .container {
      .box.with-bg {
        background: linear-gradient(180deg, rgba(18, 20, 43, 0.00) 0%, #12142B 100%);
        box-shadow: 0 0 20px 0 rgba(33, 108, 149, 0.30) inset;
      }
    }
    .collapse-left,
    .collapse-right {
      position: absolute;
      top: 0;
      width: 18px;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      & > div {
        width: 100%;
        height: 150px;
        color: #159AFF;
        background: rgba(2, 19, 40, 0.50);
        border: 1px solid rgba(21, 154, 255, 0.50);
        backdrop-filter: blur(5px);
        border-radius: 100px;
        .svg-icon {
          width: 6px;
          height: 8px;
        }
      }
      &::before, &::after {
        position: absolute;
        left: 8.5px;
        width: 1px;
        height: calc(50% - 75px);
        background: transparent;
        content: '';
        transition: background 1s cubic-bezier(0.23, 0.9, 0.35, 1);
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
    .collapse-left {
      right: 0px;
    }
    .collapse-right {
      left: -10px;
    }
  }
  .left-div {
    left: 0;
  }
  .right-div {
    right: 0;
    .title {
      .text {
        position: relative;
        color: #D5EDFF;
        font-family: YouSheBiaoTiHei;
        font-size: 16px;
        line-height: 21px;
      }
      .type-icon {
        cursor: pointer;
        .svg-icon {
          color: #26609F;
          &.is-active {
            color: #17D1FF;
          }
        }
      }
    }
    .desc-item {
      .vertical-line {
        width: 1px;
        height: 38px;
        background: rgba(37, 73, 136, 0.80);;
      }
      .desc {
        color: #72C2FF;
        font-family: "Microsoft YaHei UI";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 11.791px; /* 84.224% */
      }
      .count {
        color: #9DD5FF;
        font-family: Bahnschrift;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.583px;
        .num {
          color: #9DD5FF;
          font-family: Bahnschrift;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 23.583px; /* 84.224% */
        }
      }
      &:nth-child(1) {
        .num {
          color: #15DCFF;
        }
      }
      &:nth-child(3) {
        .num {
          color: #65CE90;
        }
      }
      &:nth-child(5) {
        .num {
          color: #159AFF;
        }
      }
    }
  }
  &.collapse {
    .map-div::before {
      display: none;
    }
    .left-div, .right-div {
      width: 0 !important;
      // transition: width 0.5s cubic-bezier(0.23, 0.9, 0.35, 1), border 0.3s;
      .container {
        display: none;
      }
    }
    .collapse-left {
      // right: -28px;
      right: 10px;
    }
    .collapse-right {
      // display: none;
      left: -20px;
    }
    .collapse-left {
      &::before, &::after {
        background: #0C5692;
        // transition: background 1s cubic-bezier(0.23, 0.9, 0.35, 1);
      }
    }
  }
}
