.map-div {
  position: relative;
  // width: calc(100% + 72px);
  // margin-left: -72px;
  // background-image: url("../../../../../assets/images/new-bi/map-bg.png");
  &::before, &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 268px;
    height: 1002px;
    z-index: 1;
  }
  &::before {
    left: 0;
    background: linear-gradient(90deg, rgba(5, 22, 52, 0.90) 6.36%, rgba(19, 30, 50, 0.00) 110.03%);
  }
  &::after {
    display: none;
    right: 0;
    background: linear-gradient(-90deg, rgba(5, 22, 52, 0.90) 6.36%, rgba(19, 30, 50, 0.00) 110.03%);
  }
  .map-operation {
    top: 20px;
    right: 420px;
  }
  &.full {
    .map-operation {
      right: 20px;
    }
    .oper {
      left: 300px;
    }
  }
}