.side-box.right {
  .header-box {
    background: url("../../../../../assets/images/bi/new/title-1251.png") bottom left;
    .title {
      padding-right: 20px;
      padding-left: 36px;
      width: 400px;
      height: 36px;
      line-height: 36px;
      // background-image: url("../../../../../assets/images/bi/new/title2.png");
      font-family: YouSheBiaoTiHei;
      font-size: 18px;
      letter-spacing: 0.36px;
      .text {
        background: linear-gradient(180deg, #FFF 7.28%, #95CFF7 62.98%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .divided {
      .item {
        padding: 6px;
        color: var(---, #FFF);
        text-align: center;
        font-family: "Alibaba PuHuiTi";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 85.714% */
        letter-spacing: 0.857px;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.50);
        cursor: pointer;
        &.active {
          color: #0BF9FE;
          background: #002542;
        }
      }
    }
  }

}

.video-content {
  position: relative;
  padding: 12px 44px;
  height: 635px;
  .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #159AFF;
    &.one {
      top: 0;
      left: 0;
      border-right-width: 0;
      border-bottom-width: 0;
    }
    &.two {
      top: 0;
      right: 0;
      border-left-width: 0;
      border-bottom-width: 0;
    }
    &.three {
      right: 0;
      bottom: 0;
      border-top-width: 0;
      border-left-width: 0;
    }
    &.four {
      bottom: 0;
      left: 0;
      border-top-width: 0;
      border-right-width: 0;
    }
  }
}

.oper-box {
  .equipment {
    position: relative;
    width: 790px;
    .title {
      width: 790px;
      background: url('./../../../../../assets/images/bi/new/title-790.png');
    }
    .basic-info {
      color: #FFF;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      .status {
        width: 60px;
        padding: 4px;
        text-align: center;
        font-family: "Alibaba PuHuiTi";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 100% */
        letter-spacing: 0.857px;
        border-radius: 2px;
        border: 1px solid;
        &.succees {
          color: var(---, #00AC3A);
          background: rgba(17, 108, 31, 0.50);
          border-color: #00AC3A;
        }
        &.error {
          color: var(---, #ED2C40);
          background: rgba(237, 44, 64, 0.50);
          border-color: #ed2c40;
        }
      }
    }
    &::after {
      position: absolute;
      top: 54px;
      right: -20px;
      width: 1px;
      height: 145px;
      background: rgba(255, 255, 255, 0.50);
      content: '';
    }
  }
  .equipment-top {
    &.card, &.card .title {
      width: 424px;
    }
    .title {
      background: url('./../../../../../assets/images/bi/new/title-424.png');
    }
  }
  .equipment, .equipment-top {
    .control {
      position: relative;
      .direction {
        position: relative;
        width: 100px;
        height: 100px;
        fill: #021328;
        stroke-width: 0.364px;
        stroke: #18ADFE;
        box-shadow: 0 0 10.932px 2.186px #09F inset;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        .inner {
          color: #159AFF;
        }
        .arrow {
          position: absolute;
          color: #159AFF;
          cursor: pointer;
          &.up {
            top: 5px;
            left: 43px;
          }
          &.right {
            right: 5px;
            top: 43px;
          }
          &.down {
            bottom: 5px;
            left: 43px;
          }
          &.left {
            left: 5px;
            top: 43px;
          }
        }
      }
      .el-button {
        width: 80px;
      }
      .voice {
        // width: 150px;
        // height: 150px;
        // margin: auto;
        // transform: translateY(40px);
        // background-image: url("../../../assets/images/largescreen/talk-bg.png");
        // background-size: 100% 100%;
        
        fill: #021328;
        stroke-width: 0.364px;
        stroke: #18ADFE;
        // box-shadow: 0 0 10.932px 2.186px #09F inset;
        box-shadow: 0 0 10.932px 2.186px #0099ff4f inset;
        cursor: pointer;
        svg {
          color: #159aff4f !important;
        }
        &.is-talk {
          fill: #021328;
          stroke-width: 0.364px;
          stroke: #18ADFE;
          box-shadow: 0 0 10.932px 2.186px #09F inset;
          svg {
            color: #159AFF !important;
          }
        }
        &.disabled {
          cursor: none !important;
        }
      }
      .progress {
        position: absolute;
        bottom: 0;
        left: 20px;
        width: 5px;
        height: 80%;
        background: #114875;
        border-radius: 5px;
        overflow: visible;
        transform: all linear .5;
        &::after {
          position: absolute;
          bottom: var(--volume);
          width: 20px;
          left: -7.5px;
          height: 5px;
          border-radius: 5px;
          background: #114875;
          content: "";
        }
        .volume {
          position: absolute;
          top: -25%;
          left: -20px;
          color: #aaa;
          font-size: 14px;
          width: max-content;
        }
      }
    }
  }
}

.device-status-title {
  color: #0BF9FE;
  font-family: "Alibaba PuHuiTi";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.32px;
}

::v-deep .el-select {
  &.custom-select {
    &.w-93 {
      .el-input__inner {
        width: 93px;
      }
    }
    .el-input__inner {
      width: 104px;
      height: 25px;
      padding: 3px 20px 3px 10px;
      color: #FFF;
      text-shadow: 0 1px 0 rgba(0, 22, 35, 0.20);
      border: none;
      font-family: OPPOSans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 166.667% */
      background: url(~@/assets/images/bi/new/select-bg.png) no-repeat top left;
      background-size: 100% 25px;
      border-radius: 0;
    }
    .el-select__caret {
      line-height: 25px;
      color: #7CAFDE;
    }
  }
}

::v-deep .el-cascader {
  &.custom-cascader {
    .el-input__inner {
      // width: 104px;
      height: 25px !important;
      padding: 3px 20px 3px 10px;
      color: #FFF;
      text-shadow: 0 1px 0 rgba(0, 22, 35, 0.20);
      border: none;
      font-family: OPPOSans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px; /* 166.667% */
      background: url(~@/assets/images/bi/new/select-bg.png) no-repeat top left;
      background-size: 100% 25px;
      border-radius: 0;
    }
    .el-input__icon {
      line-height: 25px;
      color: #7CAFDE;
    }
    .el-cascader__tags .el-tag {
      background: transparent;
      color: #0b89Fe;
      color: #159AFF;
      width: calc(100% - 60px);
      height: 18px;
      line-height: 16px;
      &:not(.is-hit) {
        border-color: #159AFF;
      }
      & + .el-tag {
        width: 36px;
      }
      .el-icon-close {
        top: 0yy;
        color: #159AFF;
        background-color: transparent;
      }
    }
  }
}

::v-deep .el-radio-group {
  .custom-radio-button .el-radio-button__inner {
    padding: 6px;
  }
}

::v-deep .buttons {
  .el-button {
    padding: 7px 4px;
    color: #fff;
    text-align: center;
    font-family: "Alibaba PuHuiTi";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 0.857px;
    border: none;
    border-radius: 4px;
    background: #021328;
    box-shadow: 0 0 14px 2px #09F inset;
    &.is-disabled {
      color: rgba(183, 188, 194, 0.50);
      background: rgba(34, 53, 67, 0.50);
    }
  }
  // &.small {
  //   .el-button {
  //     width: 54px !important;
  //   }
  // }
}

.custom-disabled {
  cursor: not-allowed !important;
  // pointer-events: none;
  opacity: 0.7;
  pointer-events: none;
  // background-image: url("../../../assets/images/largescreen/control-btn.png");
  &:hover {
    cursor: not-allowed;
    // background-image: url("../../../assets/images/largescreen/control-btn.png");
  }
}