::v-deep {
  .el-dialog {
    margin-top: unset !important;
    &__body {
      padding: 0;
      height: auto;
    }
  }
}
.dialog-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  ::v-deep .el-dialog {
    // background-color: transparent;
    background: url("../../../assets/images/bi/new/warning-bg.png") 1094px 632px;

    .el-dialog__header {
      height: 62px;
      position: relative;
      // background-color: #012c43;
      text-align: left;

      .el-dialog__title {
        position: absolute;
        left: 24px;
        right: 0;
        top: 28px;
        margin: 0 auto;
        color: #FFF;
        font-family: "Alibaba PuHuiTi";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }

      .el-dialog__headerbtn {
        width: 20px;
        height: 20px;
        background-image: url("../../../assets/images/bi/new/close.png");
        background-size: 100% 100%;
        top: 29px;
        bottom: 0;
        // margin: auto 0;
      }
    }

    .el-dialog__body {
      // height: 694px;
      // background-image: url("../../../assets/images/largescreen/dialog-bg1.png");
      // background-size: 100% 100%;
    }
  }
  .dialog-content {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    .title {
      .text {
        color: #0BF9FE;
        text-align: left;
        font-family: "Alibaba PuHuiTi";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.839px; /* 130.241% */
        letter-spacing: 1.488px;
      }
    }
    .tuxiang {
      .image-box {
      }
      .address {

      }
    }
    .warning {
      .detail {
        width: 394px;
        height: 496px;
        border-radius: 4px;
        border: 0.5px solid #1665A2;
        background: #001D46;
        .desc .item {
          color: rgba(255, 255, 255, 0.80);
          font-family: "Microsoft YaHei";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          .value {
            color: #FFF;
          }
          .status {
            padding: 0 10px;
            color: #F43;
            text-align: center;
            font-family: "Alibaba PuHuiTi";
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 20.839px; /* 208.385% */
            letter-spacing: 1.488px;
            border-radius: 3.473px;
            border: 0.5px solid #FF1519;
            background: rgba(108, 17, 19, 0.50);
          }
        }
      }
      .with-b-t {
        border-top: 1px solid rgba(255, 255, 255, .3);
      }
      .operation {
        width: 358px;
        & > div {
          padding: 16px 10px;
          border-radius: 4px;
          background: #0050B3;
          cursor: pointer;
          &.success {
            background: #059F14;
          }
          &.danger {
            background: #9F1205;
          }
        }
        .img {
          width: 16px;
          height: 16px;
          color: #fff;
          font-size: 16px;
        }
        .text {
          color: #FFF;
          font-family: "Microsoft YaHei";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }
}

::v-deep .el-select {
  &.custom-select {
    .el-input__inner {
      width: 104px;
      height: 25px;
      padding: 3px 20px 3px 10px;
      color: #FFF;
      text-shadow: 0 1px 0 rgba(0, 22, 35, 0.20);
      border: none;
      font-family: OPPOSans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 166.667% */
      background: url(~@/assets/images/bi/new/select-bg.png) no-repeat top left;
      background-size: 100% 25px;
      border-radius: 0;
    }
    .el-select__caret {
      line-height: 25px;
      color: #7CAFDE;
    }
  }
}


::v-deep .el-carousel {
  width: 100%;
  height: 100%;
  .el-carousel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  .el-carousel__indicators {
    display: none;
  }
  .el-carousel__arrow {
    width: 18px;
    height: 18px;
    background: #000;
    border: 0.5px solid #fff;
    font-size: 9px;
    &--left {
      left: 8px;
    }
    &--right {
      right: 8px;
    }
  }
}