.buttons {
  ::v-deep .el-button {
    padding: 6px 4px;
    color: #1C9DFF;
    text-align: center;
    font-family: "Alibaba PuHuiTi";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 0.857px;
    border-radius: 2px;
    background: rgba(9, 45, 72, 0.50);
    box-shadow: 0 0 4px 0 #2575AA inset;
    border: none;
  }
}
.info-content {
  padding-top: 93px;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.side-box {
  width: 586px;
  padding-top: 30px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background: transparent;
  ::-webkit-scrollbar-thumb {
    background: #114875;
  }
  ::-webkit-scrollbar-track {
    background: #002542;
  }
  .card {
    width: 100%;
    .title {
      width: 100%;
      background: url("../../../../assets/images/bi/new/title-586.png");
    }
  }
}

.content {
  background: linear-gradient(180deg, rgba(18, 20, 43, 0.00) 0%, rgba(18, 20, 43, 0.30) 100%);
  box-shadow: 0 0 20px 0 rgba(33, 108, 149, 0.30) inset;
  .box {
    background: linear-gradient(180deg, rgba(18, 20, 43, 0.00) 0%, rgba(18, 20, 43, 0.50) 100%);
    box-shadow: 0 0 20px 0 rgba(33, 108, 149, 0.30) inset;
    .index {
      width: 24px;
      color: #FF7734;
      font-family: "TeX Gyre Adventor";
      font-size: 16px;
      font-style: italic;
      font-weight: 700;
      letter-spacing: 0.75px;
      background: rgba(255, 119, 52, 0.10);
      border: 1px solid #FF7734; 
      line-height: 27px;
      text-align: center;
    }
    .t2 {
      color: #D5EDFF;
      font-family: YouSheBiaoTiHei;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }
    .t3 {
      color: rgba(255, 255, 255, 0.80);
      font-family: "Alibaba PuHuiTi";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 120% */
      letter-spacing: 0.857px;
    }
    .t5 {
      color: #FFF;
      text-align: left;
      font-family: "Alibaba PuHuiTi";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 100% */
      letter-spacing: 0.857px;
    }
    .btn-status {
      min-width: 52px;
      margin-left: 10px;
      color: #FFF;
      text-align: center;
      font-family: "Alibaba PuHuiTi";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 100% */
      letter-spacing: 0.857px;
      padding: 6px; 
      border-radius: 2px;
      &.success {
        background: #00A803;
      }
      &.waiting {
        background: #443F3F;
      }
      &.danger {
        background: #B7430A;
      }
      &.pending {
        // color: #326E9C;
        background: #159Aff;
        // box-shadow: 0 0 4px 0 #224D69 inset;
        // background: #ff881b;
      }
    }
    .title-line1 {
      height: 2px;
      background: url("../../../../assets/images/bi/new/title-line.png") no-repeat;
      background-size: cover;
    }
    .container-bg {
      background: linear-gradient(180deg, rgba(18, 20, 43, 0.00) 0%, rgba(18, 20, 43, 0.50) 100%);
      box-shadow: 0 0 20px 0 rgba(33, 108, 149, 0.30) inset;
    }
    .container {
      ::-webkit-scrollbar-thumb {
        background: #114875;
      }
    }
    .list {
      .item {
        display: flex;
        padding: 12px 20px;
        color: #fff;
        font-family: "Alibaba PuHuiTi";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 100% */
        letter-spacing: 0.857px;
        & > div {
          flex: 1;
          text-align: center;
        }
        &.th {
          color: #159AFF;
          background: rgba(2, 49, 100, 0.2);
        }
      }
    }
  }
  .t4 {
    color: #FFF;
    font-family: "Alibaba PuHuiTi";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.857px;
  }

  .step2 {
    .yuyue {
      border-radius: 4px;
      border: 1px solid rgba(40, 118, 210, 0.50);
      background: #011226;
      span {
        color: var(---, #FFF);
        font-family: "Alibaba PuHuiTi";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.857px;
        & + span {
          position: relative;
          &::before {
            position: absolute;
            left: -10px;
            top: 1.5px;
            width: 1px;
            height: 13px;
            background: rgba(255, 255, 255, 0.50);
            content: '';
          }
        }
      }
    }
    .info {
      .person {
        color: rgba(183, 188, 194, 0.50);
        font-family: "Alibaba PuHuiTi";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.857px;
      }
      // .desc {
      //   border-radius: 4px;
      //   border: 1px solid rgba(229, 232, 235, 0.30);
      //   background: #011226;
      //   color: rgba(183, 188, 194, 0.50);
      //   font-family: "Alibaba PuHuiTi";
      //   font-size: 12px;
      //   font-style: normal;
      //   font-weight: 400;
      //   line-height: 12px; /* 100% */
      //   letter-spacing: 0.857px;
      // }
      .buttons {
        ::v-deep .el-button {
          padding: 6px 4px;
          text-align: center;
          font-family: "Alibaba PuHuiTi";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px; /* 100% */
          letter-spacing: 0.857px;
          border: none;
          border-radius: 2px;
          &.is-disabled {
            color: rgba(183, 188, 194, 0.50);
            background: rgba(34, 53, 67, 0.50);
          }
        }
      }
    }
  }

  .person-photo, .car-photo {
    width: 236px;
    height: 118px;
    border: 1px solid #159AFF;
    background: #011226;
    & > div {
      position: relative;
    }
    .verify {
      &.success {
        color: #00F151
      }
      &.error {
        color: #ED2C40
      }
      .img-modal {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 36, 78, 0.50);
      }
    }
  }
  .car-photo {
    width: 283px;
    .yuan {
      color: #fff;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.50);
      background: #003C94;
      text-align: center;
    }
  }
  .verify-result {
    border-radius: 4px;
    border: 1px solid rgba(40, 118, 210, 0.50);
    background: #011226;
    .result {
      font-family: YouSheBiaoTiHei;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.857px;
      text-align: center;
      &.success {
        color: #00E764;
      }
      &.error {
        color: #FF1515;
      }
    }
    .notice {
      border: none;
      background: transparent;
    }
  }
  .notice {
    color: #0BF9FE;
    text-align: center;
    font-family: "Alibaba PuHuiTi";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 0.857px;
    border-radius: 4px;
    border: 1px solid rgba(40, 118, 210, 0.62);
    background: #041A35;
  }
  .step6 {
    background: linear-gradient(180deg, rgba(18, 20, 43, 0.00) 0%, rgba(18, 20, 43, 0.50) 100%);
    box-shadow: 0 0 20px 0 rgba(33, 108, 149, 0.30) inset;
  }
  .play {
    padding: 6px 30px;
    color: #FFF;
    font-family: "Alibaba PuHuiTi";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.857px;
    border-radius: 100px;
    background: #0666AE;
  }
}

::v-deep .el-checkbox {
  width: 72px;
  margin-right: 0;
  margin-left: 30px;
  margin-top: 10px;
  // & + & {
  // }
  &__inner {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 0.5px solid #159AFF;
    background: rgba(35, 104, 212, 0.20);
  }
  &__label {
    padding-left: 4px;
    color: var(---, #FFF);
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  &.is-checked {
    .el-checkbox__inner {
      border-radius: 2px;
      background: rgba(35, 104, 212, 0.20);
      box-shadow: 0 0 4px 2px #0BF9FE inset;
      border: 1px solid #0BF9FE;
      &::after {
        border-color: #0BF9FE
      }
    }
    .el-checkbox__label {
      color: var(---, #FFF);
    }
  }
}

.td-status {
  width: auto;
  padding: 4px;
  text-align: center;
  font-family: "Alibaba PuHuiTi";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 0.857px;
  border-radius: 2px;
  &.pending {
    color: #326E9C;
    background: rgba(9, 45, 72, 0.50);
    box-shadow: 0 0 4px 0 #224D69 inset;
  }
  &.success {
    color: #4BFF6F;
    background: rgba(1, 62, 34, 0.50);
    box-shadow: 0 0 4px 0 #0C651F inset;
  }
}
.text-c-error {
  color: #ED2C40 !important;
}
::v-deep .el-textarea {
  .el-textarea__inner {
    padding: 10px;
    color: rgba(255, 255, 255, 0.80);
    font-family: "Alibaba PuHuiTi";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 0.857px;
    border-radius: 4px;
    border: 1px solid rgba(40, 118, 210, 0.62);
    background: #041A35;
  }
}