#map {
  /* filter: invert(100%) hue-rotate(200deg); background: transparent;
  filter: grayscale(100%) invert(100%) sepia(15%) hue-rotate(180deg) saturate(1040%) brightness(70%) contrast(90%); */
}
.my-custom-icon {
  width: 66px !important;
  height: 93px !important;
  background: rgba(255, 0, 0, 0.5);
}
.custom-tooltip.leaflet-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  pointer-events: auto
}
.custom-tooltip::before {
  /* display: none !important; */
}
.div-custom-tooltip, .div-custom-popup {
  width: 354px;
  height: 309px;
  // background: url(~@/assets/images/new-bi/tooltip.png) no-repeat center center;
}
.custom-popup .leaflet-popup-content {
  width: 354px !important;
  height: 309px !important;
  margin: 0 !important;
  margin-top: 20px !important;
  // background: url(~@/assets/images/new-bi/tooltip.png) no-repeat center center;
}
.leaflet-popup-tip-container {
  display: none;
}

::v-deep .custom-modal1 {
  position: relative;
  width: 396px;
  height: 400px;
  // background: url(~@/assets/images/new-bi/tooltip.png) no-repeat top left;
  // border: 1px solid #f00;
  // position: absolute;
  // top: 400px;
  // left: 600px;
  // z-index: 500;
  &::after {
    content: "";
    width: 50px;
    height: 76px;
    position: absolute;
    // background: url(~@/assets/images/new-bi/tooltip-line.png) no-repeat bottom right;
    background-size: 100% 100%;
    right: 0;
    bottom: 0;
  }
  .title {
    width: 330px;
    margin: 18px 9px 0 14px;
    .text {
      color: #FFF;
      font-family: "Alibaba PuHuiTi";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .status {
      padding: 6px 12px;
      border-radius: 2px;
      border: 1px solid #4AB8FF;
      background: rgba(17, 69, 108, 0.50);
      color: #6AC5FF;
      text-align: center;
      font-family: "Alibaba PuHuiTi";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 100% */
      letter-spacing: 0.857px;
    }
  }
  .list {
    margin-top: 18px;
    margin-left: 17px;
    .item {
      color: #FFF;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      & + .item {
        margin-top: 11px;
      }
    }
  }
  .operation {
    .span {
      &[tt1="primary"] {
        padding: 10px !important;
        border-radius: 2px;
        border: 1px solid #74EEFF;
        color: #159AFF;
        text-align: center;
        font-family: "Alibaba PuHuiTi";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 100% */
        letter-spacing: 0.857px;
        * {
          color: #159AFF;
          font-size: 12px;
        }
        &.is-disabled {
          color: #326e9c;
          background: rgba(9, 45, 72, 0.50);
          box-shadow: 0 0 4px 0 #224D69 inset;
        }
      }
    }
  }
}

::v-deep .leaflet-map-pane {
  
  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: transparent;
    box-shadow: none;
  }
  .leaflet-popup {
    left: 136px !important;
    bottom: -68px !important;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-content {
    margin: 0;
  }
  .leaflet-marker-pane {
    .custom-point {
      // position: relative;
      min-width: 82px;
      background: transparent;
      border: none;
      &.max-zoom {
        z-index: 10000;
      }
      .custom-point-img {
        width: 100%;
        height: 100%;
        transform: translate(-50%);
        // transform: translateX(-50%, var(--translateY));
        // background: url(~@/assets/images/new-bi/robot-active.png) no-repeat center center;
        .custom-point-name {
          color: #FFF;
          font-family: "Microsoft YaHei";
          font-size: 14px;
          line-height: 17.517px; /* 125.119% */
          white-space: nowrap;   /* 防止换行，超出则溢出 */
          overflow: visible;
          font-size: 11px;
          text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
        }
        .robot-warning {
          padding: 10px 12px;
          position: absolute;
          top: -53px;
          // right: 0;
          // left: 0;
          // left: calc(-50% + 13px);
          width: max-content;
          margin-left: -6px;
          // margin: 0 auto;
          color: #FFF;
          font-family: "Microsoft YaHei";
          font-size: 16px;
          line-height: 18px;
          background: #410912;
          border: 1px solid #FF0202;
          border-radius: 2px;
          transform: all linear .3s;
          &::after {
            position: absolute;
            right: 0;
            left: 0;
            bottom: -7px;
            margin: 0 auto;
            width: 10px;
            height: 10px;
            background: #410912;
            border: 1px solid #FF0202;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            transform-origin: top;
            content: "";
            z-index: 0;
          }
        }
      }
      &.show-icon {
        &::before {
          position: absolute; 
          opacity: 1;
          // top: -67px;
          // left: -80.5px;
          // width: 227px;
          // height: 227px;
          // background: url(~@/assets/images/new-bi/icon_bg.png) no-repeat center center;
          // top: -31.5px;
          // left: -9px;
          // width: 100px;
          // height: 100px;
          // top: -31.5px;
          // left: -9px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 1px solid #159AFF;
          background: radial-gradient(50% 50% at 50% 50%, rgba(21, 154, 255, 0.50) 0%, rgba(6, 78, 133, 0.25) 100%);
          // filter: blur(35.376625061035156px);
          transition: all linear 0.3s;
          content: '';
          z-index: -1;
        }
        &.show-icon-38-28::before {
          transform: translate(-50%, calc(-50% + 14px));
        }
        &.show-icon-30-28::before {
          transform: translate(-50%, calc(-50% + 14px));
        }
        &.show-icon-24-39::before {
          transform: translate(-50%, calc(-50% + 19.5px));
        }
        &.show-icon-43-20::before {
          transform: translate(-50%, calc(-50% + 10px));
        }
      }
      &.open, &:hover {
        &::before {
          opacity: 1;
        }
      }
      .custom-point-status {
        position: relative;
        color: #FFF;
        font-family: "Microsoft YaHei";
        font-size: 14px;
        line-height: 26px; /* 125.119% */
        border-radius: 100px;
        &::before {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          content: '';
          background: #FFF;
        }
      }
      &.green {
        .custom-point-status {
          background: #187905;
        }
      }
      &.blue {
        .custom-point-status {
          background: #0070C6;
          backdrop-filter: blur(2px)
        }
      }
      &.green, &.blue {
        .custom-point-status {
          padding-left: 30px !important;
          &::before {
            top: 5px;
            width: 16px;
            height: 16px;
            mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0448 2.73493C12.925 2.73927 12.807 2.74094 12.6915 2.74094H12.691C9.65333 2.74094 8.31513 1.34872 8.30398 1.33672L8.00044 1.00439L7.69647 1.33671C7.68322 1.35127 6.27116 2.84788 2.95516 2.73493L2.5293 2.72039V9.03171C2.5293 10.6841 3.08097 13.0942 7.85145 14.9382L8.00003 14.9957L8.14853 14.9382C12.919 13.0942 13.4707 10.6841 13.4707 9.03171V2.72039L13.0448 2.73493ZM7.45605 10.9028L4.27145 8.08097L5.11759 7.39532L6.81084 8.64464C6.81084 8.64464 9.14881 6.22593 11.4061 5.09724L11.7285 5.46044C11.7285 5.46044 8.90714 7.7985 7.45605 10.9028Z' fill='currentColor'/%3E%3C/svg%3E") center/contain no-repeat;
          }
        }
      }
      &.orange {
        .custom-point-status {
          padding-left: 20px !important;
          background: #D85A00;
          backdrop-filter: blur(2px);
        }
      }
      &.gray {
        .custom-point-status {
          padding-left: 20px !important;
          border: 1px solid #0061B1;
          background: #272727;
        }
      }
    }
    .custom-point-path .custom-point-status {
      padding: 0 4px;
      color: #FFF;
      font-family: "Microsoft YaHei";
      font-size: 14px;
      line-height: 22px; /* 125.119% */
      border-radius: 2px;
      &.blue {
        background: #0062AE;
      }
      &.green {
        background: #0D9F31;
      }
    }
  }

  // .leaflet-popup-pane {
    .custom-modal {
      position: relative;
      width: 396px;
      height: 400px;
      // background: url(~@/assets/images/new-bi/tooltip.png) no-repeat top left;
      // border: 1px solid #f00;
      // position: absolute;
      // top: 400px;
      // left: 600px;
      // z-index: 500;
      &::after {
        content: "";
        width: 50px;
        height: 76px;
        position: absolute;
        // background: url(~@/assets/images/new-bi/tooltip-line.png) no-repeat bottom right;
        background-size: 100% 100%;
        right: 0;
        bottom: 0;
      }
      .title {
        width: 354px;
        padding: 18px 9px 0 14px;
        .text {
          color: #FFF;
          font-family: "Alibaba PuHuiTi";
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .status {
          padding: 0 6px;
          border-radius: 2px;
          border: 1px solid #4AB8FF;
          background: rgba(17, 69, 108, 0.50);
          color: #6AC5FF;
          text-align: center;
          font-family: "Alibaba PuHuiTi";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 100% */
          letter-spacing: 0.857px;
        }
        .close {
          font-size: 14px;
          line-height: 14px;
          color: rgba(74, 184, 255, 0.8);
          cursor: pointer;
          &:hover {
            color: rgb(90, 185, 248);
          }
        }
      }
      .list {
        margin-top: 18px;
        margin-left: 17px;
        .item {
          color: #FFF;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          & + .item {
            margin-top: 11px;
          }
        }
      }
      .operation {
        button {
          &[tt1="primary"] {
            padding: 10px;
            color: #FFF;
            text-align: center;
            font-family: "Alibaba PuHuiTi";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px; /* 100% */
            letter-spacing: 0.857px;
            border-radius: 2px;
            border: 1px solid #74EEFF;
            background: rgba(9, 45, 72, 0.50);
            box-shadow: 0 0 20px 0 #69C4FF inset;
            cursor: pointer;
            & + button {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .leaflet-popup-close-button {
      display: none;
    }
  // }

}

// 界面
::v-deep .oper {
  position: absolute;
  top: 20px;
  left: 485px;
  z-index: 401;
  .el-select {
    &.custom-select {
    }
    .el-input__inner {
      padding: 4px !important;
      padding-right: 18px !important;
      height: 26px !important;
      border-radius: 2px;
      text-align: center;
      font-family: "Alibaba PuHuiTi";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 100% */
      letter-spacing: 0.857px;
      border: none;
      border-radius: 4px;
      background: #021328;
      box-shadow: 0 0 14px 2px #09F inset;
      *, &::placeholder {
        font-size: 12px;
      }
    }
    &[tt="primary"] {
      .el-input__inner {
        color: #fff;
        font-family: "OPPOSans";
        border: 1px solid #5d8cdd;
        text-shadow: 0 1px 0 rgba(0, 22, 35, .2);
        // background: linear-gradient(0deg rgba(7, 42, 99, .8) 0%, rgba(41, 113, 216, .8) 100%);
        background: rgba(9, 45, 72, 0.50);
        &::placeholder {
          color: #326e9c;
        }
      }
      .el-select__caret {
        color: #5d8cdd;
        line-height: 26px !important;
      }
    }
    &[tt="danger"] {
      .el-input__inner {
        background: rgba(72, 9, 9, 0.50);
        box-shadow: 0 0 4px 0 #FF4534 inset;
        color: #FF4534;
        * {
          color: #159AFF;
        }
        &::placeholder {
          color: #bc453a;
        }
      }
      .el-select__caret {
        color: #FF4534;
      }
    }
  }
}

::v-deep .popver-machine-info {
  position: relative;
}
// ::v-deep .machine-container {
//   .decoration {
//     color: #2A86F3;
//     .svg-icon {
//       vertical-align: top;
//     }
//   }
//   .box {
//     width: 353px;
//     // height: 405px;
//     background: linear-gradient(180deg, rgba(4, 91, 149, 0.50) 0.01%, rgba(4, 51, 68, 0.37) 5.51%, rgba(4, 42, 62, 0.40) 51.52%, rgba(7, 56, 94, 0.38) 92.62%, rgba(4, 78, 151, 0.50) 100.03%);
//     border: 1px solid #2A86F3;
//     backdrop-filter: blur(15px);
//     .top {
//       // width: 347px;
//       width: calc(100% - 8px);
//       height: 40px;
//       margin-bottom: 0 !important;
//       background: linear-gradient(90deg, #2C8EFF -0.18%, rgba(0, 13, 59, 0.20) 94.39%);
//       .title {
//         color: #FFF;
//         font-family: "Alibaba PuHuiTi";
//         font-size: 18px;
//       }
//       .status {
//         position: relative;
//         padding: 4px 20px;
//         color: #FFF;
//         text-align: center;
//         font-family: "Alibaba PuHuiTi";
//         font-size: 12px;
//         line-height: 12px; /* 100% */
//         letter-spacing: 0.857px;
//         border-radius: 2px;
//         border: 1px solid #0061B1;
//         background: #272727;
//         &::before {
//           position: absolute;
//           top: 7px;
//           left: 10px;
//           width: 6px;
//           height: 6px;
//           border-radius: 50%;
//           background: #FFF;
//           content: '';
//         }
//         &.green {
//           color: #25FF6E;
//           border-color: #25FF6E;
//           background: rgba(0, 117, 57, 0.50);
//           &::before {
//             background: #25FF6E;
//           }
//         }
//         &.blue {
//           color: #D0E5FF;
//           border: 1px solid #225CA4;
//           background: rgba(0, 43, 117, 0.50);
//           &::before {
//             background: #D0E5FF;
//           }
//         }
//         &.orange {
//           color: #FF7100;
//           border: 1px solid #FF7100;
//           background: rgba(117, 39, 0, 0.50);
//           &::before {
//             background: #FF7100;
//           }
//         }
//         &.gray {
//           color: #EFEFEF;
//           border: 1px solid #616161;
//           background: rgba(0, 0, 0, 0.50);
//           &::before {
//             background: #EFEFEF;
//           }
//         }
//       }
//       .close {
//         cursor: pointer;
//         .svg-icon {
//           color: rgba(74, 184, 255, 0.5);
//           font-size: 14px;
//         }
//       }
//     }
//   }
//   .guideline {
//     .svg-icon {
//       color: #2CADFF;
//     }
//   }
//   .btns {
//     .el-button {
//       padding: 0 9px;
//       color: #EFF9FF;
//       text-align: center;
//       font-family: "Alibaba PuHuiTi";
//       font-size: 12px;
//       line-height: 30px; /* 100% */
//       letter-spacing: 0.857px;
//       border-radius: 2px;
//       border: 1px solid #2A86F3;
//       background: rgba(9, 45, 72, 0.50);
//       box-shadow: 0 0 20px 0 #2A86F3 inset;
//       &.is-disabled {
//         color: rgba(183, 188, 194, 0.5);
//         background: rgba(34, 53, 67, 0.50);
//       }
//       &.success {
//         border: 1px solid #25FF6E;
//         background: rgba(9, 72, 16, 0.50);
//         box-shadow: 0 0 20px 0 #00AE3A inset;
//       }
//       &.error {
//         border: 1px solid #FF2C2C;
//         background: rgba(27, 0, 0, 0.50);
//         box-shadow: 0 0 20px 0 #F00 inset;
//       }
//       &.off {
//         border: 1px solid #D3D3D3;
//         background: rgba(0, 0, 0, 0.50);
//         box-shadow: 0 0 20px 0 #4C4C4C inset;
//       }
//     }
//   }
//   &.error {
//     .decoration {
//       color: #FF2C2C;
//     }
//     .box {
//       background: linear-gradient(180deg, rgba(149, 4, 4, 0.40) 0.01%, rgba(62, 4, 4, 0.32) 51.52%, rgba(94, 7, 7, 0.31) 92.62%, rgba(151, 4, 4, 0.40) 100.03%);
//       border-color: #FF2C2C;
//       .top {
//         background: linear-gradient(90deg, #FF2C2C 0.92%, rgba(80, 5, 5, 0.28) 93.38%, rgba(59, 0, 0, 0.19) 104.71%);
//         .close {
//           .svg-icon {
//             color: rgba(255, 74, 74, 0.5);
//           }
//         }
//       }
//       .info-content {
//         .desc {
//           height: 120px;
//           overflow-y: auto;
//           color: #FFF;
//           font-family: "Alibaba PuHuiTi";
//           font-size: 12px;
//           line-height: 12px; /* 100% */
//           letter-spacing: 0.857px;
//           border: 1px solid #620202;
//           background: #320C0D;
//         }
//       }
//     }
//     .guideline {
//       .svg-icon {
//         color: #FF2C2C ;
//       }
//     }
//     .btns .el-button {
//       border: 1px solid #FF2C2C;
//       background: rgba(27, 0, 0, 0.50);
//       box-shadow: 0 0 20px 0 #F00 inset;
//     }
//   }
//   &.off {
//     .decoration {
//       color: #EBEBEB;
//     }
//     .box {
//       background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0.01%, rgba(74, 74, 74, 0.32) 51.52%, rgba(85, 85, 85, 0.31) 92.62%, rgba(142, 142, 142, 0.40) 100.03%);
//       border-color: #D3D3D3;
//       .top {
//         background: linear-gradient(90deg, #E2E2E2 0.92%, rgba(68, 68, 68, 0.28) 93.38%, rgba(0, 0, 0, 0.19) 104.71%);
//         .close {
//           .svg-icon {
//             color: rgba(255, 255, 255, 0.5);
//           }
//         }
//       }
//       .info-content {
//         .desc {
//           height: 120px;
//           overflow-y: auto;
//           color: #FFF;
//           font-family: "Alibaba PuHuiTi";
//           font-size: 12px;
//           line-height: 12px; /* 100% */
//           letter-spacing: 0.857px;
//           border: 1px solid #D3D3D3;
//           background: #141414;
//         }
//       }
//     }
//     .guideline {
//       .svg-icon {
//         color: #E2E2E2 ;
//       }
//     }
//     .btns .el-button {
//       border: 1px solid #D3D3D3;
//       background: rgba(0, 0, 0, 0.50);
//       box-shadow: 0 0 20px 0 #4C4C4C inset;
//     }
//   }
//   &.robot-container {
//     .box {
//       .info-content {
//         .item {
//           color: #FFF;
//           font-family: Inter;
//           font-size: 14px;
//           line-height: 17px;
//           .status {
//             padding: 2px 6px;
//             border-radius: 2px;
//             border: 0.5px solid #4AB8FF;
//             background: rgba(17, 69, 108, 0.50);
//             color: #6AC5FF;
//             font-family: "Alibaba PuHuiTi";
//             font-size: 10px;
//             line-height: 12px; /* 120% */
//             letter-spacing: 0.857px;
//           }
//         }
//       }
//     }
//   }
//   // 充电桩
//   &.battery-container {
//     .box {
//       .info-content {
//         .item {
//           .label {
//             color: #92A0B6;
//             font-family: Inter;
//             font-size: 14px;
//             font-weight: 400;
//             line-height: 17px;
//           }
//           .value {
//             font-family: "Microsoft YaHei";
//             font-size: 14px;
//             line-height: 16px; /* 100% */
//             &.with-border {
//               padding: 6px 10px;
//               border: 1px solid #05304A;
//               background: #05213A;
//             }
//             &.status {
//               position: relative;
//               padding-left: 26px;
//               &::before {
//                 position: absolute;
//                 top: 12px;
//                 left: 10px;
//                 width: 6px;
//                 height: 6px;
//                 border-radius: 50%;
//                 content: '';
//               }
//               &.success {
//                 color: #25FF6E;
//                 &::before {
//                   background: #25FF6E;
//                 }
//               }
//             }
//             &.progress {
//               position: relative;
//               &::before {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 width: var(--rate);
//                 height: 100%;
//                 background: linear-gradient(90deg, #0992B3 0%, #2BABFC 100%);
//                 content: '';
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   // 无人机
//   &.uav-container {
//     .box {
//       width: 572px;
//     }
//     .info-content {
//       .task-info {
//         gap: 10px;
//         .item {
//           flex: 1;
//           background: #0A233D;
//           .count {
//             color: #15DCFF;
//             font-family: Bahnschrift;
//             font-size: 20px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 23.583px; /* 117.914% */
//           }
//           .unit {
//             color: #D5EDFF;
//             font-family: Bahnschrift;
//             font-size: 12px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 23.583px;
//           }
//           .title {
//             color: #72C2FF;
//             font-family: "Microsoft YaHei UI";
//             font-size: 14px;
//             line-height: 19px;
//           }
//           &:nth-child(2) {
//             .count {
//               color: #3DB56A;
//             }
//           }
//           &:nth-child(3) {
//             .count {
//               color: #159AFF;
//             }
//           }
//         }
//       }
//       .list {
//         border-radius: 2px;
//         border: 1px solid #152C45;
//         .title, .content {
//           padding: 12px 20px;
//           color: #D0DEEE;
//           font-family: "Alibaba PuHuiTi";
//           font-size: 12px;
//           font-style: normal;
//           font-weight: 400;
//           line-height: 12px; /* 100% */
//           letter-spacing: 0.857px;
//         }
//         .title {
//           color: #159AFF;
//           background: rgbA(2, 49, 100, .2);
//         }
//         .content {
//           .item {
//             & + .item {
//               margin-top: 6px;
//             }
//             .status {
//               padding: 4px;
//               border-radius: 2px;
//               text-align: center;
//               font-family: "Alibaba PuHuiTi";
//               font-size: 12px;
//               line-height: 12px; /* 100% */
//               letter-spacing: 0.857px;
//               color: #1C9DFF;
//               background: rgba(9, 45, 72, 0.50);
//               box-shadow: 0 0 4px 0 #2575AA inset;
//               &.success {
//                 color: #25FF6E;
//                 background: rgba(9, 72, 47, 0.50);
//                 box-shadow: 0 0 4px 0 #25AA75 inset;
//               }
//               &.yellow {
//                 color: #F4FF1C;
//                 background: rgba(72, 66, 9, 0.50);
//                 box-shadow: 0 0 4px 0 #D4CD00 inset;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }